asgiref==3.11.1
asttokens==3.0.1
decorator==5.3.1
Django==6.0.6
et_xmlfile==2.0.0
executing==2.2.1
gunicorn==26.0.0
ipython==9.14.1
ipython_pygments_lexers==1.1.1
jedi==0.20.0
matplotlib-inline==0.2.2
openpyxl==3.1.5
packaging==26.2
parso==0.8.7
pexpect==4.9.0
pillow==12.2.0
prompt_toolkit==3.0.52
psutil==7.2.2
psycopg==3.3.4
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.20.0
qrcode==8.2
sqlparse==0.5.5
stack-data==0.6.3
traitlets==5.15.1
wcwidth==0.8.1
